<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FS.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FS.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="FS.Core.Properties.Settings.ConnectionString" connectionString="Server=10.0.0.20;Port=5432;Database=fs_db; User Id=fs_user;Password=fs_passwd;Pooling=false" />
    </connectionStrings>
    <userSettings>
        <FS.Core.Properties.Settings>
            <setting name="LocalAppDir" serializeAs="String">
                <value>D:\_applications</value>
            </setting>
            <setting name="MainFs" serializeAs="String">
                <value>\\company.ad\applications</value>
            </setting>
            <setting name="NewFs" serializeAs="String">
                <value>\\new.ad\applications</value>
            </setting>
            <setting name="NotifyName" serializeAs="String">
                <value>FsRescuer</value>
            </setting>
            <setting name="OldFs" serializeAs="String">
                <value>\\old.ad\applications</value>
            </setting>
        </FS.Core.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <FS.Core.Properties.Settings>
            <setting name="FS_Core_SoapNotify_NotificationManager" serializeAs="String">
                <value>http://notify.ad/notify.svc</value>
            </setting>
        </FS.Core.Properties.Settings>
    </applicationSettings>
</configuration>