<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true" throwConfigExceptions="true"
      internalLogLevel="Warn" internalLogFile="c:\logs\fs-rescuer\nlog-internal.log">

  <variable name="logDirectory" value="c:/logs/fs-rescuer"/>

  <targets>
    <target name="move" xsi:type="File"
            layout="${longdate} ${uppercase:${level}} | ${message}"
            fileName="${logDirectory}/move_${date:format=yyyy-MM-dd}.log"
            keepFileOpen="false"/>

    <target name="analyse" xsi:type="File"
            layout="${longdate} ${uppercase:${level}} | ${message}"
            fileName="${logDirectory}/analyse_${date:format=yyyy-MM-dd}.log"
            keepFileOpen="false"/>

    <target name="errors" xsi:type="File"
            layout="${longdate} ${uppercase:${level}} | ${message} ${exception:format=tostring}"
            fileName="${logDirectory}/errors_${date:format=yyyy-MM-dd}.log"
            keepFileOpen="false"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="errors" />
    <logger name="MOVE" minlevel="Debug" writeTo="move" />
    <logger name="ANALYSE" minlevel="Debug" writeTo="analyse" />
  </rules>
</nlog>
